*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
  Remove default margin
*/
* {
    margin: 0;
}
/*
  Typographic tweaks!
  Add accessible line-height
  Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
  Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
  Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}
/*
  Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
  Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

body {
    position: relative;
    background-color: #f9f9716b;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
}
.contents_container {
    border: 1px solid #5ec2b1;
    padding: 2em;
    border-radius: 1rem;
    background-color: #cdf27e;
}
button {
    background-color: #6bd1aa;
    color: #fdfdfd;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 0.6rem;
    padding: 0.3rem 0;
}
button:hover {
    background-color: #1d8c7d;
}
#display {
    outline: none;
    height: 2rem;
    border: none;
    background-color: #1d8c7d;
    color: #fdfdfd;
}
